{
  "presets": [
    [
      "es2015",
      {
        "loose": true
      }
    ],
    "stage-2",
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
